[user]
  name = Eddie Hickey
  useConfigOnly = true
[init]
  defaultbranch = main
[pull]
  ff = only
[merge]
  conflictStyle = zdiff3
[core]
  editor = vim
  pager = delta
[diff]
  algorithm = histogram
  colorMoved = default
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  difftool = vimdiff
  changes = !git diff --stat $(sh -c 'git merge-base HEAD "${PARENT_BRANCH:=master}"')
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[delta]
  diff-so-fancy = true
